.Changes {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Selects {
  justify-content: center;
  display: flex;
  gap: 20px;
}
.Wrapper {
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .Selects {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    & svg {
      transform: rotate(90deg);
    }
  }
}